{% extends 'meetups/base/base.html' %}

{% load static %}

{% block title %} You Registered Successfully! {% endblock %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/registration-confirmation.css' %}">
{% endblock %}

{% block main_heading %}Thanks for Signing up!{% endblock %}

{% block body %}
<section id="confirmation">
    <h2>Successfully Registered!</h2>
    <p>Thanks for signing up - see you at the meetup!</p>
    <p>Got Questions? Please <a href="mailto:{{ organizer_email }}">contact the organizer</a> ahead of time!</p>
</section>

<section id="continue">
<p>Yes,You can Sign up for more than one meetup!</p>  
<p><a href="/meetups" class="btn">Explore our Meetups</a></p>
</section>
{% endblock %}